{% extends 'recover/base.html.twig' %}

{% block content %}
    <tbody>
        <tr>
            <td style="text-align:center; padding: 30px 30px 15px 30px;">
                <h2 style="font-size: 18px; color: #16a1fd; font-weight: 600; margin: 0;">
                    Recuperação de senha
                </h2>
            </td>
        </tr>
        <tr>
            <td style="text-align:center; padding: 0 30px 20px">
                <p style="margin-bottom: 10px; font-size: 14px;">
                    Olá, <b>{{ user.name }}</b>.
                </p>
            </td>
        </tr>
        <tr>
            <td style="text-align:center; font-size: 14px;">
                <p style="">
                    <b>Seu de recuperação de senha é: {{ recovery.identifier }}</b>
                </p>
                <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:center; padding: 0 30px; font-size: 14px;">
                <p style="margin-bottom: 30px;">
                    Para sua segurança, este código possui prazo de expiração de 48 horas.
                </p>
                <br>
            </td>
        </tr>
    </tbody>
{% endblock %}
