{% extends '@TopnodeAuth/base.html.twig' %}

{% block form_btn_send_text %}
    {{ 'app.security.login.btn.send'|trans }}
{% endblock %}

{% block form_btn_extra %}
    <a href="{{ path('security_recover') }}" class="btn btn-primary btn-block mt-2">{{ 'app.security.login.btn.recover'|trans }}</a>
{% endblock %}
